// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Montserrat:400,700,800');
// Variables
@import 'variables';
@import 'show';
@import 'sidenav';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

.col-lg-8.bg-white {
    border-radius: 20px;
}

#app, .index, .show-view {
    min-height: 100vh;
}

.index {
    background: rgba($primary, .1);

    .data-table {
        min-height: 90vh;
    }
}

.fa-caret-up {
    color: #52de97;
}

.fa-caret-down {
    color: #fa163f;
}

td a {
    color: #4d4646;

    &:hover {
        text-decoration: none;
        color: desaturate($primary, 20%);
    }
}

.table > tbody > tr > td {
    vertical-align: middle;
}

$colors: #a67e7e, #a6a07e, #7ea683, #7ea699, #7f7ea6, #8d7ea6, #a57ea6, #a67e89;

@for $i from 1 through length($colors) {
    @for $i from 1 through length($colors) {
        .currency-list:nth-child(#{length($colors)}n+#{$i}) .currency-logo {
            background: lighten(nth($colors, $i), 30%);
            color: darken(nth($colors, $i), 20%);
        }
    }
}

.currency-logo {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.show-view {
    canvas {
        width: 100%;
    }
}

td canvas {
    width: 65%;
}
