// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

.fa-caret-up {
    color: #52de97; // 50d890, 0c9463, 42b883, 52de97
}

.fa-caret-down {
    color: #fa163f; // f64b3c, f0134d, f0134d, e41749
}

td a:hover {
    text-decoration: none;
}
