// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import 'show';
@import 'sidenav';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

//main {
//    min-height: 100vh;
//}

.col-lg-8.bg-white {
    border: 12px solid #7983F4;
    border-radius: 20px;
}

.fa-caret-up {
    color: #52de97;
}

.fa-caret-down {
    color: #fa163f;
}

td a {
    color: #777;

    &:hover {
        text-decoration: none;
    }
}

.table > tbody > tr > td {
    vertical-align: middle;
}

$colors: #fb6262, #fb8d62, #fbc062, #dcfb62, #62fb8d, #62fbdf, #62cbfb, #a462fb, #dc62fb, #fb6290;

@for $i from 1 through length($colors) {
    @for $i from 1 through length($colors) {
        .currency-list:nth-child(#{length($colors)}n+#{$i}) .currency-logo {
            background: lighten(nth($colors, $i), 25%);
            color: darken(nth($colors, $i), 10%);
        }
    }
}

.currency-logo {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

li.currency-list.active {
    background: rgba(#ffcc00, 0.6);

    a {
        color: #fff;
    }
}

li.currency-list .currency-logo {
    width: 40px;
    height: 40px;
}
